/**
 * admin layout css style
 * create by phachon
 */

.admin-layout {
  min-height: 100vh;
}

.admin-header {
  box-shadow: 0 4px 5px rgba(0,21,41,.08);
  padding: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.admin-header .ant-menu-item .anticon {
  margin-right: 5px;
}

.admin-header-logo {
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s;
  padding: 0 24px;
  width: 220px;
  height: 64px;
  float: left;
  margin-bottom: 10px;
}

.admin-header-logo > a {
  display: flex;
  align-items: center;
  height: 64px;
}

.admin-header-logo h1 {
  margin: 0 0 0 12px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
  animation: fade-in;
  animation-duration: .3s;
}

.admin-header-logo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}

.admin-sider {
  box-shadow: 2px 0 5px rgba(0,21,41,.35);
  overflow-x: visible;
  height: 100%;
  position: fixed;
  left: 0;
  transition: all 0.3s ease 0s;
}

.admin-right {
  transition: all 0.3s ease 0s;
}

.admin-content {
  margin: 0px 10px;
  /* background: #fff; */
  /* border: 1px solid #ddd; */
  /* border-radius: 5px; */
  /* -moz-border-radius: 5px; */
  /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
}

.admin-breadcrumb {
  margin: 72px 10px 8px 10px;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 2px 13px 0 rgba(228, 228, 228, 0.6);
}

.admin-breadcrumb-nav {
  height: 35px;
  line-height: 35px;
}

.admin-breadcrumb-nav a {
  line-height: 35px;
  padding: 0 8px;
}

.admin-footer {
  text-align: center;
  padding: 14px 50px;
}
